:root {
    --primary: #eeeee4;
    --secondary: #9caea9;
    --tertiary: #eab676;
    --light-dark: #76b5c5;
    --dark: #154c79;
    --border-radius: .3rem;
}

* {
    box-sizing: border-box;
}
  
body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
}
  
h1,
h2,
h3 {
  font-weight: 700;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}
  
main {
  margin: 20px auto;
  width: 94%;
}
  
  
.btn {
  font-size: 1.3rem;
  text-decoration:none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--light-dark);
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
}

#clear-search {
  width:96%;
  margin: 10px 5px;
}

.btn:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
  cursor: pointer;
}

.hero {
  padding: 2% 3%;
  background-color: var(--dark);
  text-align: center;
  color: var(--primary);
}
  
.app-title {
  font-size: 3rem;
  background-color: var(--primary);
  color: var(--dark);
  padding: 0 10px;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
}
  
  /* CARDS */
.card {
  margin: 0 15px 20px 0;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
}
  
.card-header {
  color: var(--primary);
  background-color: var(--dark);
  padding: 2.5%;
  border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
}
  
.card-body {
  padding: 2.5%;
}

#five-day-container .card {
  display: inline-block;
}

#current-condition {
  padding-left: 15px;
  padding-bottom: 15px;
}

.form-input {
  width: 100%;
  padding: 3%;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
}
  
  /* HEIGHT / WIDTH UTILS */
.min-100-vh {
  min-height: 100vh;
}
  
.min-100-vw {
  min-width: 100vw;
}
  
  /* FONT UTILS */
.text-uppercase {
  text-transform: uppercase;
}
  
  
  /* FLEX CONTENT */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}
  
.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.col-12 {
  flex: 0 0 100%;
}
  
  
  /* col-md */
@media screen and (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }

  .col-md-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }
}
  
  